/* Fonts and colors */
body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h2 {
  color: #A0A0A0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #4352A1;
}

/*Custom designs*/
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://source.unsplash.com/random);
  background-size: cover;
  color: white;
  padding: 120px 0;
}
.banner h1 {
  font-size: 38px;
}
.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}
.container {
  width: 700px;
  margin: 50px auto;
}
.link-medium {
  background-image: linear-gradient(#e36414, #e36414);
  color: rgb(196, 192, 183);
  font-weight: lighter;
  font-size: 25px;
  font-style: bold;
}
.link-medium:hover {
  background-image: linear-gradient(to bottom, #e36414, #fb8b24);
}

/* Media queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}